@media only screen and (min-width: 1000px) {
  .arrow {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.breadcrumb {
  height: 35px;
  color: rgba(39, 38, 38, 0.41);
  li {
    display: flex;
    line-height: 35px;
    cursor: pointer;
  }
  label.nav {
    display: flex;
    font-size: 20px;
    font-weight: bold;
  }
}

ol {
  padding: 0 0 0 20px;
  margin: 0px;
  display: flex;
  line-height: 35px;
}

mat-icon {
  text-align: center;
  font-size: 14px;
  line-height: 35px;
}

.child {
  color: #787878;
  outline: none;
  font-size: 14px;
  &:last-child {
    font-weight: bold;
  }
}

.icon {
  float: right !important;
  font-size: 18px !important;
}

.home-route {
  font-size: 16px;
  cursor: pointer;
}