$width-menu: 250px;
$width-container: 64px;
$width-content: $width-menu + ($width-container / 2);

$color-success: #269800;
$color-warning: #F0B322;
$color-information: #3AB3B9;
$color-error: #CC362C;